*
    box-sizing: border-box

*,
*:before,
*:after
    box-sizing: border-box
    --tw-shadow: 0px 0.8px 2px rgba(0,0,0,.032),0px 2.7px 6.7px rgba(0,0,0,.048),0px 12px 30px rgba(0,0,0,.08)
    --tw-ring-offset-shadow: 0 0 #0000
    --tw-ring-shadow: 0 0 #0000

h1, h2, h3, h4, h5, h6
    margin: 0

*
    margin: 0
    padding: 0

ul
    list-style: none

html
    width: 100%
    max-width: 100%
    overflow-x: hidden

body
    width: 100%
    max-width: 100%
    overflow-x: hidden

    font-family: Nunito Sans
    background: #fff
    color: #fff

.container
    max-width: 1366px
    margin: auto
    width: 100%

.animate_one
    animation: 2s infinite alternate movingAn

.animate_two
    animation: 2s infinite alternate movingOn

@keyframes movingAn
    0%
        transform: translate(0px, 10px)
    100%
        transform: translate(10px, 0px)

@keyframes movingOn
    0%
        transform: translate(10px, 0px)
    100%
        transform: translate(0px, 10px)
