header
    position: fixed
    width: 100%
    top: 0
    z-index: 10
    background-color: #FCF8F7
    box-shadow: 0px 4px 120px rgba(89, 113, 105, 0.1)
    .container
        .header-main
            display: flex
            justify-content: space-between
            padding: 20px
            align-items: center
            .header__menu
                cursor: pointer
                display: none
                position: relative
                ul
                    flex-direction: column
                    position: absolute
                    background-color: #fff
                    padding: 20px 30px
                    border-radius: 15px
                    cursor: auto
                    top: 44px
                    right: 0
                    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
                    button
                        cursor: pointer
                        height: 50px
                        width: 152px
                        font-family: Nunito Sans
                        font-size: 18px
                        font-weight: 800
                        color: #fff
                        background: #4DC19A
                        border: none
                        border-radius: 40px
                        box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05)
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
                        transition: all .3s ease-in-out
                        &:hover
                            background: #24a077
                        .svg-icon
                            height: 25px
                    li
                        display: block
                        margin: 0 0 22px 0
                        text-decoration: none
                        a
                            text-decoration: none
                            color: black
                            font-size: 19px
                            padding: 0 5px
                            transition: all .2s ease-in-out
                            &:hover
                                transform: none
                                color: #4DC19A
                        &:last-child
                            margin: 0
                            a
                                display: block

            .header__nav
                display: flex
                align-items: center
                ul
                    align-items: center
                    display: flex
                    li
                        list-style-type: none
                        margin: 0 0 0 60px
                        display: flex
                        align-items: center
                        a
                            cursor: pointer
                            display: block
                            text-decoration: none
                            font-size: 20px
                            color: #494949
                            transition: all .2s ease-in-out
                            &:hover
                                color: #4DC19A
                            img
                                color: #4DC19A
                        &:last-child
                            display: block
                            cursor: pointer
                            position: relative
                            ul
                                flex-direction: column
                                align-items: flex-start
                                position: absolute
                                background-color: #fff
                                padding: 20px 30px
                                border-radius: 15px
                                cursor: auto
                                top: 44px
                                left: -68px
                                box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)

                                li
                                    display: block
                                    margin: 0 0 22px 0

                                    &:last-child
                                        margin: 0
                                    a
                                        display: block
                                        transition: all .3s ease-in-out
                                        &:hover
                                            transform: none
                                            color: #4DC19A
                button
                    cursor: pointer
                    height: 62px
                    width: 152px
                    margin: 0 0 0 130px
                    font-family: Nunito Sans
                    font-size: 18px
                    font-weight: 800
                    color: #fff
                    background: #4DC19A
                    border: none
                    border-radius: 40px
                    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05)
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
                    transition: all .3s ease-in-out
                    &:hover
                        background: #24a077

.menu-menu
    transition: all .3s ease-in-out

.submenu-btn
    &:hover
        .menu-menu
            stroke: #4DC19A

//  SUBMENU

.submenu
    transition: all .15s linear
    visibility: hidden
    opacity: 0

.header__menu
    .hdr-btn
        display: block
    .hdr-cls
        display: none
    .hdrmenu
        transition: all .15s linear
        visibility: hidden
        opacity: 0
        li
            a
                &:hover
                    color: #4DC19A
                    transform: scale(1.1)
.show
    display: block !important
    visibility: visible !important
    opacity: 1 !important
    // transform: translateY(0%) !important

//  SUBMENU

// SVG

.hdr-cls
    height: 35px
    width: 35px

#soon2,
#moon2
    width: 100%

#moon1,
#moon2
    display: block

.header__nav_night
    width: auto !important
    padding: 10px 20px !important

.svg-icon
    width: 35px
    height: 35px
    &.soon
        display: none

.svg-icon path,
.svg-icon polygon,
.svg-icon rect
    fill: #4f4f4f

.svg-icon circle
    stroke: #4f4f4f
    stroke-width: 1

// SVG
@media (max-width: 1128px)
    .header__nav
        button
            display: none !important
        li
            button
                display: block !important
                margin: auto !important

    .submenu
        left: -155px !important

    .header__nav_night
        display: block !important

@media (max-width: 716px)
    .header__nav
        display: none !important

    .header__menu
        display: block !important
        ul
            button
                width: 100% !important
