#four
	margin: 140px 0 100px 0
	.container
		.section-main
			padding: 20px
			display: flex
			flex-direction: column
			align-items: center
			text-align: center
			.section__text
				color: #000
				margin: 0 0 50px 0
				h2
					font-size: 60px
					font-family: 'Montserrat Alternates', sans-serif
					line-height: 1.3
					margin: 0 0 30px 0
				p
					color: #494949
					font-size: 23px
					font-weight: 300
					max-width: 560px
					line-height: 1.8
				button
					cursor: pointer
					height: 62px
					width: 166px
					margin: 16px 0 0 0
					font-family: Nunito Sans
					font-size: 18px
					font-weight: 800
					color: #fff
					background: #6E63DE
					border: none
					border-radius: 40px
					box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05)
					filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
					transition: all .3s ease-in-out
					&:hover
						background: #514b9b

			.section__services
				display: flex
				flex-wrap: wrap
				justify-content: center
				.service
					width: 346px
					margin: 10px
					padding: 50px 30px
					background: #FFFFFF
					box-shadow: 0px 4px 120px rgba(89, 113, 105, 0.1)
					border-radius: 30px
					display: flex
					flex-direction: column
					justify-content: space-between
					.service__info
						font-weight: 400
						font-size: 20px
						line-height: 180%
						color: #585C65
						margin: 0 0 50px 0
					.service__title
						font-weight: 700
						font-size: 15px
						line-height: 180%
						color: #6E63DE
